---
NamespaceIndentation: None
UseTab: Never
AlignTrailingComments:
  Kind: Always
IndentWidth: 4
IndentPPDirectives: BeforeHash
IndentExternBlock: NoIndent
IndentCaseLabels: true
IndentCaseBlocks: false
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
AlignEscapedNewlines: LeftWithLastLine
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
BracedInitializerIndentWidth: 4
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Leave
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon
BreakTemplateDeclarations: Yes
CompactNamespaces: false
Cpp11BracedListStyle: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: pch.h
    Priority: -1000
    CaseSensitive: false
IndentAccessModifiers: false
InsertBraces: true
InsertNewlineAtEOF: true
Language: Cpp
ReferenceAlignment: Left
SortIncludes: CaseSensitive
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceInEmptyBlock: false
SpaceBeforeSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: Never
SpacesInLineCommentPrefix:
  Minimum: 1
SpacesInSquareBrackets: false
PointerAlignment: Left
ColumnLimit: 125
AlignArrayOfStructures: Left
AlignAfterOpenBracket: Align
PPIndentWidth: 4
AccessModifierOffset: -4
